<div class="container" *ngIf="product">
  <h4>{{ product.name }}</h4>
  <div class="tags">
    <div class="category">{{ product.category | uppercase }}</div>
    <div [ngClass]="{
      'available': product.isAvailable,
      'unavailable': !product.isAvailable
    }">
    </div>
    <div class="top-rated" *ngIf="product.isTopRated">&#9733;</div>
  </div>
  <p>{{ product.description }}</p>
  <div>{{ product.price | currency }}</div>
  <div>
    <button
        [disabled]="!product.isAvailable"
        (click)="onBuyProduct()">
      Buy
    </button>
  </div>
  <ul class="payments" *ngFor="let payment of product.payments">
    <li>{{ payment }}</li>
  </ul>
  <hr>
  <p>Seller: {{ product.seller }}.</p>
  <p>Created: {{ product.created | date: 'dd MMM yyyy' }}.</p>
  <p>Last Modified: {{ product.lastModified | date: 'dd MMM yyyy' }}.</p>
  <button *ngIf="product.feedbacks.length" (click)="toggle()">{{ showFeedbacks ? 'Hide' : 'See' }} Feedbacks</button>
  <div class="feedbacks" *ngIf="showFeedbacks">
    <p *ngFor="let feedback of product.feedbacks">{{ feedback }}</p>
  </div>
</div>
